.sidebar {
  width: 50px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 40px; /* Adjusted size to fit the new width */
  height: auto;
  margin-bottom: 10px;
}

.profile-icon {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar-icon {
  font-size: 1.5rem;
  color: #333;
  margin: 15px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar-icon:hover {
  color: #007bff;
}

.infor {
  width: 200px;
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin-left: 250px;
  background-color: rgba(175, 175, 175, 0.87);
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
li{
  list-style: none;
  cursor: pointer;
}
.infor-email .infor-logout {
  padding: 10px 15px; /* Điều chỉnh padding */
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.infor-email{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}